# Base Sepolia chain config
# chain id can be decimal or hex
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_CHAIN_NAME=Base Sepolia
NEXT_PUBLIC_CHAIN_RPC_URLS=https://sepolia.base.org
NEXT_PUBLIC_CHAIN_EXPLORER_URLS=https://sepolia.basescan.org
NEXT_PUBLIC_CHAIN_NATIVE_NAME=Ethereum
NEXT_PUBLIC_CHAIN_NATIVE_SYMBOL=ETH
NEXT_PUBLIC_CHAIN_NATIVE_DECIMALS=18

# Contract addresses from your latest SC deployment
NEXT_PUBLIC_USDC_ADDRESS=0x4B28Da4644526B3E0f284698cA96C06066c7Db39
NEXT_PUBLIC_USDC_FAUCET_ADDRESS=0x67c5f759424937Bed711103F34A56f79c6C31867
NEXT_PUBLIC_GAME_VAULT_ADDRESS=0x8Dfb46e7374D82b65F9Fe76aB45A54fc9a9f9b67
NEXT_PUBLIC_GAME_SETTLEMENT_ADDRESS=0x524d0CC1C832B7D0E4b19EE90B945830b78bA5d8
NEXT_PUBLIC_TRUST_PASSPORT_ADDRESS=0xf5724c128a8F23Ab7D9D8a5d915cb73A6d074A7e

# FE data source mode for deposit feature: onchain | backend
NEXT_PUBLIC_DEPOSIT_DATA_SOURCE=onchain

# Required for backend auth + gameplay settlement flow
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000

# Required for Reown AppKit modal
NEXT_PUBLIC_REOWN_PROJECT_ID=
